.allEvents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 18rem));
  margin: 0;
  column-gap: 30px;
  row-gap: 20px;
  align-items: center;
}

.individualEvent {
  background: white;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 1rem;
}

.imageContainer {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;
  height: 10rem;
  background-color: lightgrey;
}

.dateTime {
  display: flex;
}

.fullPage {
  margin: 1rem 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-weight: 750;
}

.attending {
  margin-top: 1rem;
}

.eventCard {
  width: 18rem;
  height: auto;
  display: block;
}

.eventCard a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.pastEvents {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.pastEvents h1 {
  margin-right: 1rem;
}

.pastEvents h2 {
  font-size: 45px;
}

.pastEvents img:hover {
  color: #828f25;
  cursor: pointer;
  font-size: 45px;
}
