.fullPage {
  margin: 2rem;
  padding: 2rem 2.5rem;
  border-radius: 15px;
}

.individualEvent {
  background: white;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 1rem;
}

.imageContainer {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;
  height: 10rem;
  background-color: lightgrey;
}

.dateTime {
  display: flex;
}

.allEvents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 18rem));
  column-gap: 50px;
  row-gap: 20px;
}

.eventCard {
  width: 18rem; /* Try increasing size */
  height: auto;
  /* display: block; 
  background-color: red;  */
}

.title {
  font-weight: 750;
}

.backButton {
  margin-bottom: 2rem;
}

.backButton:hover {
  color: #828f25;
  font-weight: 600;
}

.selectorButtons {
  display: flex;
  margin-bottom: 2rem;
}
