.fullPage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
  background: ;
}

.header {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #c9cf7c;
}

.header h2 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.body {
  background-color: #e0e3b8;
}
.title {
  font-weight: 500;
}

.attending {
  margin-top: 1rem;
}

.tab {
  padding: 15px 5px;
  font-size: 14px;
}

.active {
  background-color: #828f25;
  color: white;
}
