.fullPage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
  min-height: 60vh;
}

.header {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #c9cf7c;
  border-radius: 15px 0px 0px 15px;
}

.header h2 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.body {
  background-color: #e0e3b8;
  border-radius: 0px 15px 15px 0px;
}
.title {
  font-weight: 500;
}

.attending {
  margin-top: 1rem;
}

.tab {
  padding: 15px 20px;
  /* margin-bottom: 10px; */
  font-size: 14px;
}

.active {
  background-color: #828f25;
  color: white;
}

.tab.active:first-of-type {
  background-color: #828f25;
  border-radius: 15px 0px 0px 0px;
  color: white;
}
