#root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#button-1 {
  color: #828f25;
  background-color: #fbf9ec;
  border: 2px solid #828f25;
  border-radius: 1rem;
  padding: 2px 6px;
  margin: 5px;
  white-space: nowrap;
}

#button-2 {
  color: white;
  background-color: #828f25;
  border: 2px solid #828f25;
  border-radius: 1.25rem;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
}

#button-2:hover {
  color: #828f25;
  background-color: #f7f6f2;
  border: 2px solid #828f25;
  border-radius: 1.25rem;
  padding: 0.25rem 0.75rem;
}

#button-3 {
  color: #69751e;
  background-color: #f7f6f2;
  border: 2px solid #828f25;
  border-radius: 1.25rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

#button-3:hover {
  color: white;
  background-color: #828f25;
  border-radius: 1.25rem;
  padding: 0.5rem 1rem;
}

#button-4 {
  color: #828f25;
  background-color: white;
  border: 2px solid #828f25;
  border-radius: 1rem;
  padding: 2px 6px;
  margin: 5px;
  white-space: nowrap;
}

#button-4:hover {
  color: white;
  background-color: #828f25;
  border: 2px solid #828f25;
  border-radius: 1rem;
  padding: 2px 6px;
  margin: 5px;
  white-space: nowrap;
}

#button-4:active {
  color: white;
  background-color: #828f25;
  border: 2px solid #828f25;
  border-radius: 1rem;
  padding: 2px 6px;
  margin: 5px;
  white-space: nowrap;
}
